.principal {
    background-image: url('../../../assets/img/sea.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    overflow-y: auto;
  }
  
  .mask {
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column; /* Alinea los elementos en una columna */
    justify-content: flex-start; /* Alinea el contenido al inicio (parte superior) */
    align-items: center; /* Centra horizontalmente */
    min-height: 100%; /* Asegura que la máscara ocupe al menos toda la altura de la ventana */
    text-align: center;
    padding: 20px; /* Añade un poco de relleno si es necesario */
  }
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .img_lugar {
    width: 1280px;
    height: 800px;
  }
  
.marker {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}
h2{
  margin-top: 1px;
  color: white;
}
h4{
  margin-top: 1px;
  color: white;
}