<div class="principal">
    <div class="mask">
        <div class="container my-5">
            <h2 class="mb-4">Datos de la pesca</h2>
            <div class="row">
                <!-- Fishing Info -->
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title">Informacion sobre la pesca</h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Identificador:</strong> {{ fishing?.id }}</p>
                            <p><strong>Capturado:</strong> {{ fishing?.caught ? 'SI' : 'NO' }}</p>
                            <p><strong>Peso:</strong> {{ fishing?.weight }} kg</p>
                            <p><strong>Notas:</strong> {{ fishing?.notes }}</p>
                        </div>
                    </div>
                </div>

                <!-- Fish Info -->
                <div class="col-md-6">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h5 class="card-title">Informacion sobre el pez</h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Identificador del pez:</strong> {{ fishing?.fishid }}</p>
                            <p><strong>Nombre:</strong> {{ fishing?.name }}</p>
                            <p><strong>Lugar:</strong> {{ fishing?.site }}</p>
                            <p><strong>Primer avistamiento del año:</strong> {{ fishing?.firstSighting }}</p>
                            <p><strong>Ultimo avistamiento del año:</strong> {{ fishing?.firstLast }}</p>
                            <p><strong>Comienzo de temporada:</strong> {{ fishing?.startSeason }}</p>
                            <p><strong>Fin de temporada:</strong> {{ fishing?.endSeason }}</p>
                            <p><strong>Primera vez que se vio el pez:</strong> {{ fishing?.firstLifeWarning }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--ZONA MAPA-->
        <section>
            <h4>{{fishing?.geographieSite + ', ' + zone}}</h4>
            <div class="image-container">
                <img class="img_lugar" [src]="'../../../assets/img/lugares/' + fishing?.geographieSite + '/' + fishing?.geographieName + '.jpg'"  alt="Marea Baja" />
                <!-- Agregar marcas -->
                 @if(marcasActivas){
                        <div class="marker"  [style.top.%]="fishing?.latG" 
                        [style.left.%]="fishing?.logG"  title="Zona de peces 1"></div>
                 }
            </div>
        </section>

    </div>
</div>