<div class="principal">
    <div class="mask">
        <div class="container my-4">
            <div class="row mb-4">
                <div class="col-md-12">
                    <h2>Información del Día de Buceo</h2>
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{zone}},
                                {{diveDayResponse?.geographicalLocationResponse?.site}}</h5>
                            <p class="card-text">
                                <strong>Fecha:</strong>
                                {{diveDayResponse?.day}}/{{diveDayResponse?.month}}/{{diveDayResponse?.year}}
                                <strong> Horario:</strong> {{diveDayResponse?.beginning}} - {{diveDayResponse?.end}}<br>
                                <strong>Valoracion:</strong> {{diveDayResponse?.assessment}}<br>
                                <strong>Notas:</strong> {{diveDayResponse?.notes}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="container">
                    <h4 class="mt-5">Datos de la climatologicos del dia</h4>
                    <table class="table table-striped table-dark mt-3">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                @for (item of diveDayResponse?.windConditionsList; track $index) {
                                <th scope="col">{{ item.day }}<br>{{ item.timeOfDay }}H</th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Velocidad Viento</td>
                                @for (item of diveDayResponse?.windConditionsList; track $index) {
                                <td>{{ item.wind }}</td>
                                }
                            </tr>
                            <tr>
                                <td>Rafagas (nudos)</td>
                                @for (item of diveDayResponse?.windConditionsList; track $index) {
                                <td>{{ item.gustsOfWind }}</td>
                                }
                            </tr>
                            <tr>
                                <td>Direccion del viento</td>

                                @for (item of diveDayResponse?.windConditionsList; track $index) {
                                <td>{{ item.windDirectionNM }}</td>
                                }
                            </tr>
                            <tr>
                                <td>Altura de ola</td>
                                @for (item of diveDayResponse?.windConditionsList; track $index) {
                                <td>{{ item.waveHeight }}</td>
                                }
                            </tr>

                            <tr>
                                <td>Periodo</td>
                                @for (item of diveDayResponse?.windConditionsList; track $index) {
                                <td>{{ item.wavePeriod }}</td>
                                }
                            </tr>
                            <tr>
                                <td>Direccion de ola</td>
                                @for (item of diveDayResponse?.windConditionsList; track $index) {
                                <td>{{ item.waveDirectionNM }}</td>
                                }
                            </tr>
                            <tr>
                                <td>Temperatura en tierra</td>
                                @for (item of diveDayResponse?.windConditionsList; track $index) {
                                <td>{{ item.earthTemperature }}</td>
                                }
                            </tr>
                            <tr>
                                <td>Temperatura en agua</td>
                                @for (item of diveDayResponse?.windConditionsList; track $index) {
                                <td>{{ item.waterTermperature }}</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="">
                <div class="row">
                    <section class="col-md-6">
                        <div class="mb-4">
                            <h4>Condiciones climáticas</h4>
                        </div>
                        <div>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>00 - 12H</th>
                                        <th>12 - 24H</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><strong>Condicion climatica</strong></td>
                                        <td>
                                            @switch (conditionAmanecer) {
                                            @case ("despejado") {
                                            <img class="moon" src="../../../assets/img/weather/despejado.png"
                                                alt="Luna llena" />
                                            }
                                            @case ("2") {
                                            <img class="moon" src="../../../assets/img/weather/despejado.png"
                                                alt="Luna nueva" />
                                            }
                                            @case ("3") {
                                            <img class="moon" src="../../../assets/img/weather/despejado.png"
                                                alt="Luna creciente" />
                                            }
                                            @case ("4") {
                                            <div>Cuarto menguante</div>
                                            <img class="moon" src="../../../assets/img/weather/despejado.png"
                                                alt="Luna menguante" />
                                            }
                                            }
                                        </td>
                                        <td>
                                            @switch (conditionAtardecer) {
                                            @case ("chubascos") {
                                            <img class="moon" src="../../../assets/img/weather/chubascos.png"
                                                alt="Luna llena" />
                                            }
                                            @case ("2") {
                                            <img class="moon" src="../../../assets/img/weather/chubascos.png"
                                                alt="Luna nueva" />
                                            }
                                            @case ("3") {
                                            <img class="moon" src="../../../assets/img/weather/chubascos.png"
                                                alt="Luna creciente" />
                                            }
                                            @case ("4") {
                                            <div>Cuarto menguante</div>
                                            <img class="moon" src="../../../assets/img/weather/chubascos.png"
                                                alt="Luna menguante" />
                                            }
                                            }
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Coeficiente</strong></td>
                                        <td>{{diveDayResponse?.tideTableResponse?.coefficient0H}}</td>
                                        <td>{{diveDayResponse?.tideTableResponse?.coefficient12H}}</td>

                                    </tr>
                                    <tr>
                                        <td><strong>Marea Alta</strong></td>
                                        <td>{{diveDayResponse?.tideTableResponse?.morningHighTideTime}}</td>
                                        <td>{{diveDayResponse?.tideTableResponse?.afternoonHighTideTime}}</td>

                                    </tr>
                                    <tr>
                                        <td><strong>Altura (Marea Alta)</strong></td>
                                        <td>{{diveDayResponse?.tideTableResponse?.morningHighTideHeight}}</td>
                                        <td>{{diveDayResponse?.tideTableResponse?.afternoonHighTideHeight}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Marea Baja</strong></td>
                                        <td>{{diveDayResponse?.tideTableResponse?.morningLowTideTime}}</td>
                                        <td>{{diveDayResponse?.tideTableResponse?.afternoonLowTideTime}}</td>

                                    </tr>
                                    <tr>
                                        <td><strong>Altura (Marea Baja)</strong></td>
                                        <td>{{diveDayResponse?.tideTableResponse?.morningLowTideHeight}}</td>
                                        <td>{{diveDayResponse?.tideTableResponse?.afternoonLowTideHeight}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                    <section class="col-md-6">
                        <div class="mb-4">
                            <h4>Condiciones climáticas</h4>
                        </div>
                        <div>

                            @switch (diveDayResponse?.tideTableResponse?.moonPhase) {
                            @case (1) {
                            <img class="moon" src="../../../assets/img/moon/FULL_MOON.png" alt="Luna llena" />
                            }
                            @case (2) {
                            <img class="moon" src="../../../assets/img/moon/NEW_MOON.png" alt="Luna nueva" />
                            }
                            @case (3) {
                            <img class="moon" src="../../../assets/img/moon/CRESCENT_MOON.png" alt="Luna creciente" />
                            }
                            @case (4) {
                            <img class="moon" src="../../../assets/img/moon/WANING_MOON.png" alt="Cuarto menguante" />
                            }
                            }

                        </div>
                    </section>
                </div>
            </div>
            <section>
                <button class="btn btn-success mt-3" (click)="activarMarcas()">Marcas</button>
            </section>
            <!--ZONA MAPA-->
            <section>
                <div class="image-container">
                    <img class="img_lugar" [src]="'../../../assets/img/lugares/'+ diveDayResponse?.geographicalLocationResponse?.site + '/' + diveDayResponse?.geographicalLocationResponse?.name + '.jpg'"  alt="Marea Baja" width="1000" height="600" />
                    <!-- Agregar marcas -->
       
                     @if(marcasActivas){

                        @for (fishing of diveDayResponse?.fishingList; track $index) {
                            @if(fishing?.site == diveDayResponse?.geographicalLocationResponse?.site){
                               
                                <div class="marker"  [style.top.%]="fishing.latG" 
                                [style.left.%]="fishing.longG"  title="Zona de peces 1"> <span>{{$index + 1}}</span></div>
                            }
                           
                        }
                     }
                </div>
            </section>
            <div class="row">
                <div class="col-md-12">
                    <h4>Pesca del Día</h4>
                    <div class="list-group">
              
                        @for (fishing of diveDayResponse?.fishingList; track $index) {
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div>
                                <strong>{{fishing?.nameFish}}</strong><br>
                                <small>Notas: {{fishing.notes}}</small>
                            </div>
                            <div>
                                <strong>Capturado {{fishing.caught}}</strong><br>
                                <small>Peso: {{fishing.weight}}</small>
                            </div>
                            <div>
                                <button class="btn btn-primary me-2" (click)="verPez(fishing.id)">Ver</button>
                                <button class="btn btn-warning me-2" (click)="modificarPez()">Modificar</button>
                                <button class="btn btn-danger" (click)="eliminarPez()">Eliminar</button>
                            </div>
                        </div>
                        }
                    </div>
                    <button class="btn btn-success mt-3" (click)="anadirPez()">Añadir Pez</button>
                    <button class="btn btn-secondary mt-3" (click)="modificarDiaBuceo()">Modificar Día de Buceo</button>
                </div>
            </div>

        </div>
    </div>
</div>
