<div class="principal">
  <div class="mask">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="third">
          <label for="date">Date</label>
          <input id="date" formControlName="date" type="date">
        </div>
        <div class="third">
          <label for="beginning">Beginning</label>
          <input id="beginning" formControlName="beginning" type="text">
        </div>
        <div class="third">
          <label for="end">End</label>
          <input id="end" formControlName="end" type="text">
        </div>
      </div>
      <div class="row">
        <div class="half">
          <label for="site">Site</label>
          <select id="site" formControlName="site">
            @for (site of uniqueSites; track $index) {
              <option [value]="site">{{ site }}</option>
            }
          </select>
        </div>
        <div class="half">
          <label for="name">Name</label>
          <select id="name" formControlName="name">
            @for (name of filteredNames; track $index) {
              <option [value]="name">{{ name }}</option>
            }
          </select>
        </div>
        <div class="half">
          <label for="valoracion">Valoracion</label>
          <input id="valoracion" formControlName="valoracion" type="text">
        </div>
      </div>
      <div class="row">
        <label for="notes">Notes</label>
        <input id="notes" formControlName="notes" type="text">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
