<div class="principal">
  <div class="mask">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="third">
          <label for="date">Date</label>
          <input id="date" formControlName="date" type="date">
        </div>
        <div class="third">
          <label for="beginning">Beginning</label>
          <input id="beginning" formControlName="beginning" type="text">
        </div>
        <div class="third">
          <label for="end">End</label>
          <input id="end" formControlName="end" type="text">
        </div>
      </div>
      <div class="row">
        <div class="half">
          <label for="site">Site</label>
          <select id="site" formControlName="site">
            @for (site of uniqueSites; track $index) {
              <option [value]="site">{{ site }}</option>
            }
          </select>
        </div>
        <div class="half">
          <label for="name">Name</label>
          <select id="name" formControlName="name">
            @for (name of filteredNames; track $index) {
              <option [value]="name">{{ name }}</option>
            }
          </select>
        </div>
        <div class="half">
          <label for="valoracion">Valoracion</label>
          <input id="valoracion" formControlName="valoracion" type="text">
        </div>
      </div>
      <div class="row">
        <div class="half">
          <label for="medusas">Presencia de Medusas</label>
          <select id="medusas" formControlName="medusas">
            <option value="Sin medusas">Sin medusas</option>
            <option value="Con medusas">Con medusas</option>
            <option value="Muchas medusas">Muchas medusas</option>
          </select>
        </div>
        <div class="half">
          <label for="visibilidad">Visibilidad en el Agua</label>
          <select id="visibilidad" formControlName="visibilidad">
            <option value="Muy buena">Muy buena</option>
            <option value="Buena (8 metros)">Buena (8 metros)</option>
            <option value="Mala (4-5 metros)">Mala (4-5 metros)</option>
            <option value="Muy mala (no se ve)">Muy mala (no se ve)</option>
          </select>
        </div>
        <div class="half">
          <label for="marDeFondo">Mar de Fondo</label>
          <select id="marDeFondo" formControlName="marDeFondo">
            <option value="Sin mar de fondo">Sin mar de fondo</option>
            <option value="Un poco de arrastre">Un poco de arrastre</option>
            <option value="Arrastre medio">Arrastre medio</option>
            <option value="Mucho arrastre">Mucho arrastre</option>
          </select>
        </div>
      </div>
      <div class="row">
        <label for="notes">Notes</label>
        <input id="notes" formControlName="notes" type="text">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
