<div class="principal">
  <div class="mask">
    <div>
      <div>
        <h1 class="text-white centrado"><b>Datos de la Semana</b></h1>
        <button (click)="cambiarModo()" class="btn btn-outline-light btn-lg m-2" role="button">Cambiar modo</button>
        @if(modo==0){


        <div class="table-responsive">
          <table class="table table-striped table-dark mt-3">
            <thead>
              <tr>
                <th scope="col" class="sticky-col"></th>
                @for (item of dataList; track $index) {
                <th scope="col" class="{{ getDayGroupClass(item.day) }}">
                  {{ item.day }}<br>{{ item.timeOfDay }}H
                </th>
                }
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="sticky-col">Velocidad Viento</td>
                @for (item of dataList; track $index) {
                <td>{{ item.wind }}</td>
                }
              </tr>
              <tr>
                <td class="sticky-col">Rachas (nudos)</td>
                @for (item of dataList; track $index) {
                <td>{{ item.gustsOfWind }}</td>
                }
              </tr>
              <tr>
                <td class="sticky-col">Direccion del viento</td>

                @for (item of dataList; track $index) {
                <td class="arrow">
                  <img [style.transform]="'rotate(' + (item.windDirection +90)+ 'deg)'"
                    src="../../../assets/img/arrow-right-solid.svg" alt="Arrow" />
                </td>

                }
              </tr>
              <tr>
                <td class="sticky-col">Altura de ola</td>
                @for (item of dataList; track $index) {
                <td>{{ item.waveHeight }}</td>
                }
              </tr>

              <tr>
                <td class="sticky-col">Periodo</td>
                @for (item of dataList; track $index) {
                <td>{{ item.wavePeriod }}</td>
                }
              </tr>
              <tr>
                <td class="sticky-col">Direccion de las olas</td>

                @for (item of dataList; track $index) {
                <td class="arrow">
                  <img [style.transform]="'rotate(' + (item.waveDirection + 90) + 'deg)'"
                    src="../../../assets/img/arrow-right-solid.svg" alt="Arrow" />
                </td>
                }
              </tr>
              <tr>
                <td class="sticky-col">Temperatura en tierra</td>
                @for (item of dataList; track $index) {
                <td>{{ item.earthTemperature }}</td>
                }
              </tr>
              <tr>
                <td class="sticky-col">Temperatura en agua</td>
                @for (item of dataList; track $index) {
                <td>{{ item.waterTemperature }}</td>
                }
              </tr>
            </tbody>
          </table>
        </div>
        }

        @else {
        <div class="contenedor-cartas">
          <div class="row justify-content-between">
            @for (pair of dataMediaListGrouped; track pair.morning.id) {
              <div class="col-auto carta {{ pair.morning.category }}" style="background-color: cornflowerblue">
                <h3>{{pair.morning.year}} - {{pair.morning.month}} - {{pair.morning.day}}</h3>
                <!-- Sección Mañana -->
                @if (pair.morning) {
                  <div class="row section-morning">
                    <h3 class="centrado">Mañana 08:15</h3>
                    <div class="col-md text-start">
                      <p><strong>💨 V. Viento:</strong> {{ pair.morning.minWinter }} - {{ pair.morning.maxWinter }}</p>
                      <p><strong>💨 R. Viento:</strong> {{ pair.morning.minGustsOfWind }} - {{ pair.morning.maxGustsOfWind }}</p>
                      <p><strong>🌊 A. Olas:</strong> {{ pair.morning.minWaveHeight }} - {{ pair.morning.maxWaveHeight }}</p>
                      <p><strong>🌊 Fondo:</strong> {{ pair.morning.minWavePeriod }} - {{ pair.morning.maxWavePeriod }}</p>
                    </div>
                    <div class="col-md text-start">
                      <p><strong>🧭 Viento:</strong> {{ pair.morning.windDirection }}</p>
                      <p><strong>🌊 Olas:</strong> {{ pair.morning.waveDirection }}</p>
                      <p><strong>🌡️ Tierra:</strong> {{ pair.morning.minEarthTemperature }} - {{ pair.morning.maxEarthTemperature }}</p>
                      <p><strong>🌡️ Mar:</strong> {{ pair.morning.minWaterTemperature }} - {{ pair.morning.maxWaterTemperature }}</p>
                    </div>
                  </div>
                }
            
                <!-- Sección Tarde -->
                @if (pair.afternoon) {
                  <div class="row section-afternoon">
                    <h3>Tarde 17:45</h3>
                    <div class="col-md text-start">
                      <p><strong>💨 V. Viento:</strong> {{ pair.morning.minWinter }} - {{ pair.morning.maxWinter }}</p>
                      <p><strong>💨 R. Viento:</strong> {{ pair.morning.minGustsOfWind }} - {{ pair.morning.maxGustsOfWind }}</p>
                      <p><strong>🌊 A. Olas:</strong> {{ pair.morning.minWaveHeight }} - {{ pair.morning.maxWaveHeight }}</p>
                      <p><strong>🌊 Fondo:</strong> {{ pair.morning.minWavePeriod }} - {{ pair.morning.maxWavePeriod }}</p>
                    </div>
                    <div class="col-md text-start">
                      <p><strong>🧭 Viento:</strong> {{ pair.morning.windDirection }}</p>
                      <p><strong>🌊 Olas:</strong> {{ pair.morning.waveDirection }}</p>
                      <p><strong>🌡️ Tierra:</strong> {{ pair.morning.minEarthTemperature }} - {{ pair.morning.maxEarthTemperature }}</p>
                      <p><strong>🌡️ Mar:</strong> {{ pair.morning.minWaterTemperature }} - {{ pair.morning.maxWaterTemperature }}</p>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
