<div class="principal">
  <div class="mask">
    <form [formGroup]="form" class="container my-4" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="third">
          <label for="fishId">Pez</label>
          <select id="fishId" formControlName="fishId">
            @for (fish of fisList; track $index) {
            <option [value]="fish.id">{{ fish.name }}</option>
            }
          </select>
        </div>
        <div class="third">
          <label for="caught">Capturado?</label>
          <input id="caught" formControlName="caught" type="checkbox">
        </div>
      </div>
      <div class="row">
        <div class="half">
          <label for="site">Pueblo</label>
          <select id="site" formControlName="site" (change)="onSiteChange($event)">
            @for (site of uniqueSites; track $index) {
            <option [value]="site">{{ site }}</option>
            }
          </select>
        </div>
        <div class="half">
          <label for="name">Zona</label>
          <select id="name" formControlName="name" (click)="onGeograficChange($event)">
            @for (name of filteredNames; track $index) {
            <option [value]="name">{{ name }}</option>
            }
          </select>
        </div>
      </div>

      <div class="row">
        <div class="half">
          <label for="notes">Notes</label>
          <input id="notes" formControlName="notes" type="text">
        </div>

        <div class="half">
          <label for="weight">Peso</label>
          <input id="weight" formControlName="weight" type="number" step="any">
        </div>
      </div>

      <div class="row">
        <div class="third">
          <label for="lat">Latitud</label>
          <input id="lat" formControlName="lat" type="number" step="any">
        </div>
        <div class="third">
          <label for="long">Longitud</label>
          <input id="long" formControlName="long" type="number" step="any">
        </div>
      </div>
      <br>

      <div class="row">
        <div class="third">
          <label for="sighting_time">Hora en la que se vio </label>
          <input id="sighting_time" placeholder="12:00" formControlName="sighting_time " type="text" step="any">
        </div>

      </div>
      <br>

      <!-- ZONA MAPA -->
      @if(geographyName!=""){
      <section>
        <div class="image-container" (click)="onMapClick($event)">
          <p>{{ geographySite}}</p>
          <p>{{ geographyName}}</p>
          <img class="img_lugar" [src]="'http://localhost:8080/api/images/site_'+ geographySite + '_' + geographyName + '.jpg'"
            alt="Map" />
          <!-- Única marca -->
          @if(markerVisible){
          <div [style.top.%]="markerLat" [style.left.%]="markerLong" class="marker" title="Selected location">
            <span>1</span>
          </div>
          }
        </div>
      </section>
      }
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>