<div class="principal">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white text-center">
        <h1 class="mb-3">Deep Dive Record</h1>
        <h5 class="mb-4">Tu web de consulta y seguimiento marítimo</h5>

        <button (click)="registrarDatosPesca()" class="btn btn-outline-light btn-lg m-2" role="button">Registrar día de buceo</button>
        <button (click)="verDatosSemana()" class="btn btn-outline-light btn-lg m-2" role="button">Ver datos de la semana</button>
        <button (click)="verDatosDelDia()" class="btn btn-outline-light btn-lg m-2" role="button">Ver datos del dia</button>
        
      </div>
    </div>
  </div>
</div>
