.principal{
  background-image: url('../../../assets/img/sea.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}
.mask {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.text-white {
  color: #fff !important;
}

