<div class="principal">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white text-center">
        <h1 class="mb-3">Deep Dive Record</h1>
        <h5 class="mb-4">Tu web de consulta y seguimiento marítimo</h5>

        <button (click)="registrarDatosPesca()" class="btn btn-outline-light btn-lg m-2" role="button">Registrar datos de pesca</button>
        <button (click)="cargarDatos()" class="btn btn-outline-light btn-lg m-2" role="button">Carga de datos</button>
        <button (click)="verDatosSemana()" class="btn btn-outline-light btn-lg m-2" role="button">Ver datos de la semana</button>

        
        @if (ejecucionCargarDatos) {
          @if (comprobante ) {
            <h2>Respuesta exitosa:</h2>
            <p>Datos cargados correctamente</p>
          }@else{
            <h2>Errores:</h2>
          }
        } 
      </div>
    </div>
  </div>
</div>
